<div class="card mt-5">
    <div class="card-header">
        <h1 class="text-center mt-2">Crear alumno</h1>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" class="form-control">
                <div *ngIf="error && error.nombre" class="form-text text-danger">{{error?.nombre}}</div>
            </div>
            <div class="form-group mb-3">
                <label for="apellido" class="form-label">Apellidos</label>
                <input type="text" id="apellido" name="apellido" [(ngModel)]="alumno.apellido" class="form-control">
                <div *ngIf="error && error.apellido" class="form-text text-danger">{{error?.apellido}}</div>
            </div>
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" id="email" name="email" [(ngModel)]="alumno.email" class="form-control">
                <div *ngIf="error && error.email" class="form-text text-danger">{{error?.email}}</div>
            </div>
            <div class="form-group my-5">
                <div class="input-group">
                    <input (change)="seleccionarFoto($event)" class="form-control" type="file" id="formFile">
                    <button class="btn btn-outline-secondary" type="button" id="input">Elegir foto</button>
                </div>
            </div>
        </form>
        <button *ngIf="!alumno.id else elseBlock" class="btn btn-primary mt-3 d-block" (click)="crearConFoto()">Crear alumno</button>
        <ng-template #elseBlock>
            <button class="btn btn-primary mt-3 d-block" (click)="editarConFoto()">Actualizar alumno</button>
        </ng-template>
    </div>
    <div class="card-footer text-muted text-center">
      Powered by Vicente Martí
    </div>
  </div>