<div class="card text-center mt-5">
    <div class="card-header">
        <h1 class="">Lista de alumnos</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.created | date: 'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
      Powered by Vicente Martí
    </div>
  </div>