<div class="card text-center mt-5">
    <div class="card-header">
        <h1 class="">Lista de alumnos</h1>
    </div>
    <div *ngIf="alumnos?.length <= 0" class="alert alert-warning mt-3">No hay alumnos guardados</div>
    <div class="card-body">
        <table *ngIf="alumnos?.length > 0" class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>
                        <img *ngIf="alumno.photoHashCode else elseBlock"
                            [src]="'http://localhost:8090/usuarios/photo/' + alumno.id + '?photoHashCode=' + alumno.photoHashCode"
                            style="height: 1.5rem;width: auto;" class="card-img-top" alt="House picture">
                        <ng-template #elseBlock>
                            <img *ngIf="!alumno.photoHashCode" [src]="'/assets/images/default.png'" style="height: 1.5rem;width: auto;"
                                class="card-img-top" alt="House picture">
                        </ng-template>
                    </td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.created | date: 'dd-MM-yyyy'}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/alumnos/responder-examen', alumno.id]">Exámenes</button></td>
                    <td><button class="btn btn-primary btn-sm" [routerLink]="['/alumnos/form', alumno.id]">Editar</button></td>
                    <td><button class="btn btn-warning btn-sm" (click)="delete(alumno)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between mt-2">
            <button class="btn btn-primary" [routerLink]="['/alumnos/form']">Crear alumno</button>
            <app-alumnos-paginador *ngIf="alumnos?.length > 0 && paginador" [paginador]="paginador"></app-alumnos-paginador>
        </div>
    </div>
    <div class="card-footer text-muted">
        Powered by Vicente Martí
    </div>
</div>
