<div class="card text-center mt-5">
    <div class="card-header">
        <h1 class="">Lista de alumnos</h1>
    </div>
    <div *ngIf="alumnos?.length <= 0" class="alert alert-warning mt-3">No hay alumnos guardados</div>
    <div *ngIf="alumnos?.length > 0" class="card-body">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.created | date: 'dd-MM-yyyy'}}</td>
                    <td><button class="btn btn-primary btn-sm" [routerLink]="['/alumnos/form', alumno.id]">Editar</button></td>
                    <td><button class="btn btn-warning btn-sm" (click)="delete(alumno)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary mt-3 d-block" [routerLink]="['/alumnos/form']">Crear alumno</button>
    </div>
    <div class="card-footer text-muted">
      Powered by Vicente Martí
    </div>
  </div>